/* landing.css */

body, html {
    height: 100%;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.container {
    text-align: center;
    line-height: 1.2;
    max-width: 80%;
    padding: 0 20px;
}

h1 {
    font-size: 1.5em; /* Smaller size for the title */
    font-weight: 300;
    letter-spacing: 0.05em;
    margin: 0.2em 0;
}

.menu {
    list-style-type: none;
    padding: 0;
    margin-top: 1em;
}

.menu li {
    margin: 5px 0; /* Reduced spacing between menu items */
}

.menu li a {
    text-decoration: none;
    font-size: 1.2em; /* Smaller size for menu items */
    color: #000;
    font-weight: 200;
    letter-spacing: 0.05em;
}

.menu li a:hover {
    color: #555;
}

input, button {
    padding: 10px;
    font-size: 1em;
    margin: 10px 0;
}
