body, html {
    height: 100%;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.container {
    text-align: center;
    line-height: 1.5;
}

h1 {
    font-size: 5em; /* Larger size for the title */
    font-weight: 400; /* Medium weight for a bolder look */
    letter-spacing: 0.15em;
    margin: 0.1em 0;
}

.menu {
    list-style-type: none;
    padding: 0;
    margin-top: 1em;
}

.menu li {
    margin: 15px 0; /* Spacing between menu items */
}

.menu li a {
    text-decoration: none;
    font-size: 30em; /* Larger size for menu items */
    color: #000;
    font-weight: 100; /* Thin font weight */
    letter-spacing: 0.1em;
}

.menu li a:hover {
    color: #555;
}


input, button {
    padding: 10px;
    font-size: 1em;
    margin: 10px 0;
}

.gallery img {
    width: 200px;
    height: auto;
    margin: 10px;
}


/* body, html{
    height: 100%;
    margin: 0;
    padding: 0;

} */


.bg {
    background-image: url("wave1copy.gif");
    /*background: slategray;*/
    background-size: cover;
    overflow: scroll;
    min-height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
    position: relative;


}


.gallery-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

.gallery-button:hover {
    background-color: #555;
}






